#Python 
__pycache__/
*.pyc 
*.pyo 
*.pyd 

#Virtual environment
.venv/
venv/

#Environment variables
.env 

#Django 
db.sqlite3
staticfile/
media/

#ssh/ key
chang
chang.pub
chang_rsa
chang_rsa.pub

#Log 
*.log 

#IDE/Editer
.vscode/
.idea/

